:root{
    --var-font-contact-us: 4em;
    --background-contact-svg: url(../img/background.svg);
}

.body-contact{
    overflow: hidden;
}

.container-contact{
    display: flex;
    padding: 0 10%;
    height: 95vh;
    align-items: center;
    background-image: var(--background-contact-svg);
}

.ctrl-container-contact{
    padding: 0;
    height: 90vh;
    justify-content: center;
    display: flex;
    
}

.background-img img{
    width: 100%;
    height: 100%;
}

.boxing-content{
    display: flex;
    width: 50%;
    height: 95%;
    padding: 20px 10px;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 2px 2px;
    box-shadow: var(--shadow-titles);
}

.ctrl-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column;
    margin: 10px 0;
}

.contact-us{
    font-size: var(--var-font-contact-us);
    font-weight: 500;
    text-shadow: var(--shadow-titles);
}

.box-space-buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    height: 100%;
}


.box-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    padding: 10px;
}

.box-content{
    display: flex;
    flex-direction: column;
}

.box-space-buttons :is(input , textarea){
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #0000002c;
    padding: 0 10px;
}

.box-space-buttons label{
    font-size: .9rem;
    font-weight: 300;
}

#email{
    width: 100%;
}

.space-100{
    width: 100%;
}

.box-space-buttons select{
    height: 50px;
    border-radius: 4px;
    border: 2px solid #0000002c;
    cursor: pointer;
    padding: 10px;
}

.box-content button{
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    background-color: #615cf7;
    color: #fff;
    border: none;
}

.box-space-buttons p{
    display: flex;
    flex-direction: column;
}

#id_firstname{
    background-color: #615cf7;
}