:root {
    --var-space-site-section: 0 15%;
    --color-space-links: rgb(129, 129, 129);
    --color-font-site: #000;
    --color-background: #f9f9f9; /* Fundo claro para a seção de notícias */
    --color-white: #fff; /* Branco para artigos */
    --shadow-titles: 1px 2px 5px rgba(0, 0, 0, 0.1);
    --space-news: 100vh;
}



.news-section {
    padding: var(--var-space-site-section);
    background-color: var(--color-background);
    border-radius: 5px; /* Bordas arredondadas para a seção */
    box-shadow: var(--shadow-titles);
    display: flex;
    flex-direction: column;
    height: var(--space-news);
    position: relative;
    justify-content: center;
}

.news-title {
    font-size: 2rem;
    text-align: center;
    color: var(--color-font-site);
    margin-bottom: 20px;
}

.news-article {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: var(--shadow-titles);
}

.article-title {
    font-size: 1.5rem;
    color: var(--color-font-site);
    margin-top: 0;
}

.article-content {
    font-size: 1rem;
    color: var(--color-space-links);
    line-height: 1.5;
    margin-top: 5px;
}
