.news-section {
    padding: var(--var-space-site-section);
    background-color: var(--color-background);
    border-radius: 5px; /* Bordas arredondadas para a seção */
    box-shadow: var(--box-shadow-section);
    display: flex;
    flex-direction: column;
    height: var(--space-news);
    position: relative;
    justify-content: center;
}

.news-title {
    font-size: 2rem;
    text-align: center;
    color: var(--color-font-site);
    margin-bottom: 20px;
}

.news-article {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: var(--box-shadow-section);
}

.article-title {
    font-size: 1.5rem;
    color: var(--color-font-site);
    margin-top: 0;
}

.article-content {
    font-size: 1rem;
    color: var(--color-space-links);
    line-height: 1.5;
    margin-top: 5px;
}
