{% load static %}

<!DOCTYPE html>
<html lang="pt">
    {% include "../global/head.html" %}

    <body class="body-contact">
        {% include "../global/header.html" %}

        <div class="container-contact">
            <div class="ctrl-container ctrl-container-contact">
                <div class="background-img"></div>

                <div class="boxing-content">
                    <div class="ctrl-content">
                        <h1 class="contact-us">Contact Us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>

                    <!-- Box First and Last Name -->
                    <div class="box-space-buttons">
                        <form action="" method="post" name = 'form-contact'>
                            {% csrf_token %}
                            {{ localfinal.as_p }}  <!-- Renderiza todos os campos do formulário automaticamente -->

                            <div class="box-line form-contact-line2">
                                <div class="box-content space-100">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'global/js/script.js' %}"></script>
    </body>
</html>
