{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    {% include "../global/head.html" %}
    <link rel="stylesheet" href="{% static 'global/css/months.css' %}">

    <body>
        {% include "../global/header.html" %}

        <div class="container-months-back">
        </div>

        <div class="container box-months">
            <div class="ctrl-container">
                <div class="content-center">
                    <h2 class="title">
                        September
                    </h2>
                    <p><span class="title-upper">Setembro Amarelo</span> é uma campanha de conscientização sobre a
                        prevenção do suicídio, realizada anualmente no Brasil.</p>
                    <p>O objetivo é promover debates sobre saúde mental, combater o estigma em torno das doenças
                        psicológicas e incentivar as pessoas a buscarem ajuda.</p>
                    <p>Durante todo o mês de setembro, diversas ações são organizadas por instituições e profissionais
                        de saúde para informar e apoiar aqueles que sofrem, além de reforçar a importância do
                        acolhimento e da empatia.</p>
                    <p>A campanha tem como símbolo a cor amarela, representando luz e esperança.</p>

                </div>
                <div class=" content-center right">
                    <div class="ctrl-right">
                        <h1 class="title">
                            Titulo
                        </h1>
                        <p class="p-september">
                            Lorem ipsum dolor sit amet, consectetur adipisicing !!
                        </p>

                        <button type="button" id="september-btn">
                            CliCK ME
                        </button>

                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
        </div>


        <div class="container box-months-two">
            <div class="container-months-back top">
            </div>
            <div class="ctrl-container space-september">
                <div class="WhatClass">
                    <h1 class="title color-white">
                        O Que É?
                    </h1>
                    <div class="boxing-content-september">
                        <p class="p-september">
                            O foco principal da campanha Setembro Amarelo é educar e oferecer suporte para pessoas
                            que estão enfrentando momentos difíceis em suas vidas. Mais do que apenas uma campanha,
                            trata-se de uma oportunidade para toda a sociedade discutir a saúde mental de forma mais
                            aberta, sem preconceitos ou julgamentos, e buscar maneiras eficazes de ajudar aqueles
                            que estão em sofrimento.

                        </p>

                        <p class="p-september">
                            Ao abordar esse tema com seriedade e empatia, podemos colaborar para que as pessoas se
                            sintam mais à vontade para compartilhar seus sentimentos e buscar ajuda. A discussão
                            sobre saúde mental precisa ser constante, pois muitos ainda enfrentam desafios internos
                            em silêncio, sem saber a quem recorrer ou com medo de serem incompreendidos. Ao
                            proporcionar um espaço seguro para o diálogo, a sociedade pode contribuir para a
                            prevenção de situações extremas e promover o bem-estar mental de todos.
                        </p>
                    </div>
                </div>
                <div class="WhyClass">
                    <h1 class="title">
                        Qual o Foco?
                    </h1>
                    <div class="boxing-content-september">
                        <p class="p-september">
                            A cor amarela foi cuidadosamente escolhida
                            para representar essa campanha por remeter à
                            luz, à vida e ao calor. Ela transmite uma mensagem clara de esperança, reforçando a
                            ideia de que há sempre uma saída, uma solução, mesmo nos momentos mais difíceis. O
                            amarelo simboliza a luz no fim do túnel, a oportunidade de recomeçar e o apoio
                            incondicional de quem está disposto a ajudar.
                        </p>

                        <p class="p-september">

                            O Setembro Amarelo é uma campanha nacional de prevenção ao suicídio, cuja principal
                            missão é conscientizar a população sobre a importância de falar abertamente sobre o
                            suicídio, um problema de saúde pública que, muitas vezes, é cercado por estigmas e
                            preconceitos. Ao promover a conscientização, a campanha busca desmistificar o tema e
                            encorajar as pessoas a procurar ajuda, além de combater o isolamento que pode agravar
                            situações de risco.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box-months">
            <div class="container-months-back top" style="background-color: #fff">
            </div>
            <div class="ctrl-container space-september">
                <div id="content-video">
                    Hello
                </div>

                <div class="box">
                    <div class="ctrl-box">
                        <h1 class="title2">Como e Quando Surgiu?</h1>
                        <div class="title2">
                            <p class="p-september">
                                No mundo, a campanha começou a ganhar força após o caso de um jovem americano chamado Mike Emme, que cometeu suicídio aos 17 anos em 1994. Mike tinha um Mustang amarelo e, após sua morte, amigos e familiares distribuíram cartões com fitas amarelas e mensagens de apoio para quem enfrentava dificuldades emocionais. Isso acabou se tornando o símbolo da campanha mundial.
                            </p>
                            <p class="p-september">
                                Já no Brasil, a campanha se originou em 2015, liderada pela Associação Brasileira de Psiquiatria (ABP) em parceria com o Conselho Federal de Medicina (CFM). Sua inspiração veio de iniciativas globais, especialmente da International Association for Suicide Prevention (IASP), que estabeleceu o 10 de setembro como o Dia Mundial de Prevenção ao Suicídio. 
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container box-months-two">
            <div class="container-months-back" style="background-color: #fff;">
            </div>
            <div class="container-final-september">
                <div class="box-title-principal">
                    <h1 class="title">
                        Prevenções, Cuidados a Serem Observados
                    </h1>
                    <div class="content-eight-box">
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Fortalecer Vínculos Sociais</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Cuidar da Saúde Mental Regularmente</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Identificar e Reduzir os Fatores de Risco</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Ter Hábitos Saudáveis</h3>
                            <p>Content</p>
                        </div>
                    </div>
                    <div class="content-eight-box">
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Buscar Ajuda ao Menor Sinal</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Escuta Ativa e Empatia</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Esteja Presente</h3>
                            <p>Content</p>
                        </div>
                        <div class="mini-box">
                            <i class="bi bi-x"></i>
                            <h3>Identifique Sinais de Alerta</h3>
                            <p>Content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include "../global/footer.html" %}

        <script src="{% static 'global/js/script.js' %}"></script>
    </body>