{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/section.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

        <title>{{noticia.title}}</title>
    </head>

    <body>
        {% block Header %}
        <div class="container">
            <div class="ctrl-container">
                <div class="Logotype">
                    <h1>Logotipo</h1>
                </div>
                <div class="ContainerLinks">
                    <ul>
                        <li class="link">
                            <a href="#">Home</a>
                        </li>
                        <li class="link">
                            <a href="#" id="options-meses">Meses</a>
                            <button type="button" onclick="FuncHomePage()" id="clickover">
                                <div class="Line45Deg"></div>
                                <div class="Line45DegFrontal"></div>
                            </button>
                        </li>
                        <li class="link">
                            <a href="#">Contatos</a>
                        </li>
                        <li class="link">
                            <a href="#">Enquetes</a>
                        </li>
                        <li class="link">
                            <a href="#">Podcasts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Ocult">
            <div class="ctlr-Ocult">
                Test
            </div>
        </div>
        {% endblock Header %}


        {% block Section %}
        <section class="section-func">
            <div class="ctrl-section">
                <div class="section-car">
                    <input type="radio" name="car" id="wellow" checked>
                    <input type="radio" name="car" id="pink">
                    <input type="radio" name="car" id="blue">
                    <input type="radio" name="car" id="red">
                    <input type="radio" name="car" id="final">
                
                    <div class="section-car">
                        <label for='wellow' id="wellow1">1</label>
                        <div class="line-vertical"></div>
                        <label for='pink' id="pink1">2</label>
                        <div class="line-vertical"></div>
                        <label for='blue' id="blue1">3</label>
                        <div class="line-vertical"></div>
                        <label for='red' id="red1">4</label>
                        <div class="line-vertical"></div>
                        <label for='final' id="final1">5</label>
                        
                    </div>
                </div>
                
                <div class="carrossel">
                    <div class="ctrl-carrossel">
                        <h1>Slider</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vero ea ab totam fugiat at itaque tempora quis nam adipisci dicta, atque tempore nulla ipsam possimus unde dolorem. Adipisci, eius!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vero ea ab totam fugiat at itaque tempora quis nam adipisci dicta, atque tempore nulla ipsam possimus unde dolorem. Adipisci, eius!
                        </p>
                    </div>
                </div>
                <div class="carrossel">
                    <div class="ctrl-carrossel-func">
                        <div id="img1" class="boxing-car" style="background-image: url(https://www.juegostudio.com/wp-content/uploads/2024/02/2d-3d-game-art-style-integration-in-video-games.jpg);">
                            <!-- <img class = '' src="https://www.juegostudio.com/wp-content/uploads/2024/02/2d-3d-game-art-style-integration-in-video-games.jpg" alt=""> -->
                        </div>
                        <div id="img2" class="boxing-car" style="background-image: url(https://www.juegostudio.com/wp-content/uploads/2024/02/combine-2d-3d-art-styles.jpg);">
                            <!-- <img src="https://www.juegostudio.com/wp-content/uploads/2024/02/combine-2d-3d-art-styles.jpg" alt=""> -->
                        </div>
                        <div id="img3" class="boxing-car" style="background-image: url(https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2020/09/2D-vs-3D-Games-Featured.jpg);">
                            <!-- <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2020/09/2D-vs-3D-Games-Featured.jpg" alt=""> -->
                        </div>
                        <div id="img4" class="boxing-car" style="background-image: url(https://cdn.prod.website-files.com/5f6c71314a8db82b6218d0ea/64ed16a62ecf24b6304e4643_3.webp);">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyVsNEjscDsPoRtJHBjPeO9Kj6HafJx614FmMRYMfG61Nq7fIDaNsLSa-4UvmA1eqHHAA&usqp=CAU  " alt=""> -->
                        </div>
                        <div id="img5" class="boxing-car" style="background-image: url(https://cdn.prod.website-files.com/5f6c71314a8db82b6218d0ea/64ed16d716e287f3fc459ca2_2.webp);">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrtlUjJmCC4FV9PTJqCuCXsIhUvhaFHlW7sZirXoBpjf3I4J2ZyIvnlK959HQ6ORi-9lc&usqp=CAU" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock Section %}


        {% block BlockMonths %}
        <div class="container-months">
            <div class="ctrl-months" style="width: 100%;">
                <div class="left">
                    <h1>
                        Months
                    </h1>
                </div>
                <div class="ctrl-container-box", style="padding: 0;">
                    <div class="boxing-months">
                        <h1>Setembro</h1>
                    </div>
                    <div class="boxing-months">
                        <h1>Outubro</h1>
                    </div>
                    <div class="boxing-months">
                        <h1>Novembro</h1>
                    </div>
                    <div class="boxing-months">
                        <h1>Dezembro</h1>
                    </div>
                </div>
            </div>
        </div>
        
        {% endblock BlockMonths %}

        {% block Main %}

        <main>
            <div class="container">
                <div class="ctrl-container">
                    Hello
                </div>
            </div>
        </main>
        
        {% endblock Main %}

        {% block Footer%}
        {% endblock Footer%}

        <script src="{% static 'global/js/script.js' %}"></script>


    </body>

</html>