{% block Header %}
        <div class="container">
            <div class="ctrl-container">
                <div class="Logotype">
                    <h1>Logotipo</h1>
                </div>
                <div class="ContainerLinks">
                    <ul>
                        <li class="link">
                            <a href="http://127.0.0.1:8000/">Home</a>
                        </li>
                        <li class="link">
                            <a href="#" id="options-meses">Meses</a>
                            <button type="button" onclick="FuncHomePage()" id="clickover">
                                <div class="Line45Deg"></div>
                                <div class="Line45DegFrontal"></div>
                            </button>
                        </li>
                        <li class="link">
                            <a href="http://127.0.0.1:8000/contact/">Contato</a>
                        </li>
                        <li class="link">
                            <a href="#">Enquetes</a>
                        </li>
                        <li class="link">
                            <a href="http://127.0.0.1:8000/app/podcast">Podcasts</a>
                        </li>
                        <li class="link">
                            <a href="http://127.0.0.1:8000/app/canais">Canais</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Ocult">
            <div class="ctlr-Ocult">
                <div class="boxing september">
                    <h1>Setembro</h1>
                    <i class="bi bi-flower1"></i>
                    <div>
                        <a href="http://127.0.0.1:8000/september/">Clique Me</a>
                    </div>
                </div>
                <div class="boxing octuber">
                    <h1>Outubro</h1>
                    <i class="bi bi-flower2"></i>
                    <div>
                        <a href="#">Clique Me</a>
                    </div>
                </div>
                <div class="boxing november">
                    <h1>Novembro</h1>
                    
                    <i class="bi bi-snow3"></i>
                    <div>
                        <a href="#">Clique Me</a>
                    </div>
                </div>
                <div class="boxing dezembro">
                    <h1>Dezembro</h1>
                    <i class="bi bi-heart"></i>
                    <div>
                        <a href="#">Clique Me</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock Header %}