<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>{{product.id}} {{product.author}}</div>
    <div>{{product.slug}} </div>
    <div>{{product.price}} </div>
    <div>{{product.description}} </div>
    <div>{{product.textAdd}} </div>
    <div><img src="{{product.img.image.url}}" alt="Image"></div>
    <div>{{product.promotion}} </div>
    <div>{{product.avaliacoes}} </div>
    <div>{{product.category.name}} </div>
    <div>{{product.category.subCategory}} </div>
</body>
</html>