{% load static %}

{% include "global/head.html" %}
{% include "global/header.html" %}

<body>
    <div class="container" name='content-canais'>
        <div class="ctrl-container content-center" name='content-canais'>
            <div class="boxing-canais">
                <h1 class= 'contact-us ' name = 'title-canais'>Canais De Atendimento</h1>
                <p>Para ligação disque para <strong>188 (24h)</strong></p>
                <p>Conversar pelo e-mail: <a href="mailto:apoioemocional@cvv.org.br" class="log-others-site">apoioemocional@cvv.org.br</a></p>
                <p>Por chat online: <a href="https://servidorseguro.mysuite1.com.br/empresas/cvw/verificaseguro.php"
                        target="_blank" class="log-others-site">Clique aqui para acessar o chat</a></p>

            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Dia da Semana</th>
                            <th>Horário de Atendimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Domingo</td>
                            <td>15h às 01h</td>
                        </tr>
                        <tr>
                            <td>Segunda-feira</td>
                            <td>08h às 01h</td>
                        </tr>
                        <tr>
                            <td>Terça-feira</td>
                            <td>08h às 01h</td>
                        </tr>
                        <tr>
                            <td>Quarta-feira</td>
                            <td>09h às 01h</td>
                        </tr>
                        <tr>
                            <td>Quinta-feira</td>
                            <td>09h às 01h</td>
                        </tr>
                        <tr>
                            <td>Sexta-feira</td>
                            <td>13h às 01h</td>
                        </tr>
                        <tr>
                            <td>Sábado</td>
                            <td>13h às 01h</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>