<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content page-user-perfil">
        <div class="main-content">
            <div class="block-image">
                
            </div>
            <div class="content-company">
                {{user.id}}
                {{user.username}}
                {{user.first_name}}
                {{user.last_name}}
            </div>
        </div>
    </div>
   
</body>
</html>
